@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 29, 31;
  --background-rgb: 245, 245, 247;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 247;
    --background-rgb: 29, 29, 31;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
